Repository AdityaEngiSci/Metablog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  image: maven:latest
  before_script:
  - cd metaBlog-backend
  tags:
  - dalfcs_docker_autoscale
  script:
  - echo "Starting backend build......"
  - mvn clean install
  - echo "Compile complete."
  - echo "Backend build completed"
  artifacts:
    paths:
    - metaBlog-backend/target

build-frontend:
  stage: build
  image: node:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - cd metablog-frontend
  - npm install
  - npm i react-icons
  script:
  - echo "Frontend building started......"
  - npm run build
  artifacts:
    paths:
    - metablog-frontend/build

added admin backend
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Controller/AdminBlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/DTO/AdminRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/DTO/AdminResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Repository/AdminBlogRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/AdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/IBlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/IBlogService.java
Due: build-backend

Added testcases for blog logic but commented to remove error
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
Due: build-backend

added blog backend and creted its apis
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Controller/BlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Repository/BlogRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Enum/BlogStatus.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
Due: build-backend

uncommented test cases
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
Due: build-backend

changed the blog model
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
Due: build-backend

Created the BlogsListing Page. Created separate components for custom header, Footer and blogs Card component.
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/public/logo-black.svg
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/BlogCard.jsx
  metablog-frontend/src/components/Footer.jsx
  metablog-frontend/src/components/Header.jsx
  metablog-frontend/src/index.css
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
  metablog-frontend/tailwind.config.js
Due: build-frontend

Added the user profile page.
  metablog-frontend/src/App.jsx
  metablog-frontend/src/pages/CreateBlog/CreateBlog.jsx
  metablog-frontend/src/pages/UserProfile/UserProfile.css
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

Added configuration for using tailwind css for blog frontend.
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/postcss.config.js
  metablog-frontend/src/App.jsx
  metablog-frontend/src/index.css
  metablog-frontend/tailwind.config.js
Due: build-frontend

Added the blogs page with user's blogs and saved blogs.
  metablog-frontend/public/Image.svg
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/BlogCard.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

Added static images and data for the blogs for fixing error in the UI.
  metablog-frontend/public/blog-sample-images/blog-image-1.png
  metablog-frontend/public/blog-sample-images/blog-image-2.png
  metablog-frontend/public/blog-sample-images/blog-image-3.png
  metablog-frontend/public/blog-sample-images/featured-blog.png
  metablog-frontend/public/img.png
  metablog-frontend/public/user-default.jpg
  metablog-frontend/src/components/BlogCard.jsx
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
Due: build-frontend

Added the create blog page with TinyMCE editor.
  .gitlab-ci.yml
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/BlogCard.jsx
  metablog-frontend/src/pages/BlogPage/BlogPage.css
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/CreateBlog/CreateBlog.css
  metablog-frontend/src/pages/CreateBlog/CreateBlog.jsx
Due: build-frontend

Added the element for user's information and fixed some UI bugs.
  .gitlab-ci.yml
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/src/components/Header.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
Due: build-frontend

added exception handaling in the backend for authentication
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

s3 configuration added and image model added
  metaBlog-backend/pom.xml
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Config/S3Config.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Model/Image.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Repository/ImageRepository.java
Due: build-backend

profile image upload api created
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Controller/ImageController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
Due: build-backend

blog title image logic implemented
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Controller/BlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
Due: build-backend

changed exception type
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

updated test cases for image uploadation
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
Due: build-backend

Stored the access token in the local storage.
  metablog-frontend/src/pages/Login/Login.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
Due: build-frontend

added environment variable for api url
  metablog-frontend/.env
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/Login/Login.jsx
  metablog-frontend/src/pages/ResetPassword/ResetPasswordStep.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
Due: build-frontend

home page integration added
  metablog-frontend/src/components/BlogCard.jsx
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
Due: build-frontend

blog page integration added
  metablog-frontend/src/pages/BlogPage/BlogPage.css
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
Due: build-frontend

changed git ignore files
  .gitignore
  metaBlog-backend/.gitignore
  metablog-frontend/.gitignore
Due: build-backend, build-frontend

changed request dto for blog creation and changed response
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
Due: build-backend

added new api and change blog model
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Controller/BlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
Due: build-backend

modified image service
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Controller/ImageController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
  metaBlog-backend/src/main/resources/application.properties
Due: build-backend

Update .gitlab-ci.yml file (skip test for build stage added to speed up the process)
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file (Skipped test for build stage to speed up the process)
  .gitlab-ci.yml
Due: none

search result functionality and component added
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/Header.jsx
  metablog-frontend/src/pages/Search/SearchResult.jsx
Due: build-frontend

updated login page logic to handle error
  metablog-frontend/src/pages/Login/Login.jsx
Due: build-frontend

user blog and blog listing integration updated
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
Due: build-frontend

create blog integration implemented
  metablog-frontend/src/pages/CreateBlog/CreateBlog.css
  metablog-frontend/src/pages/CreateBlog/CreateBlog.jsx
Due: build-frontend

user profile integration added
  metablog-frontend/src/pages/UserProfile/UserProfile.css
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

git ignore file updated
  metablog-frontend/.gitignore
Due: build-frontend

blog test cases updated
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
Due: build-backend

updated blog backend including blog model and dto
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
Due: build-backend

cors configuration updated and image service bucket name updated
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/CorsConfig.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
Due: build-backend

drop-zone dependency added
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-frontend

admin frontend added
  metablog-frontend/src/App.jsx
  metablog-frontend/src/pages/AdminPage/BlogManagement.jsx
Due: build-frontend

Path conditions:
  build-backend: any of: metaBlog-backend/**/*
  build-frontend: any of: metablog-frontend/**/*
