Repository AdityaEngiSci/Metablog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  image: maven:latest
  before_script:
  - cd metaBlog-backend
  tags:
  - dalfcs_docker_autoscale
  script:
  - echo "Starting backend build......"
  - mvn clean install
  - echo "Compile complete."
  - echo "Backend build completed"
  artifacts:
    paths:
    - metaBlog-backend/target

build-frontend:
  stage: build
  image: node:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - cd metablog-frontend
  - npm install
  - npm i react-icons
  script:
  - echo "Frontend building started......"
  - npm run build
  artifacts:
    paths:
    - metablog-frontend/build

Updated README.md file for project's specifics!
  README.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file (Changed runner due to runner failer)
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file (Created my own runner)
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file (updated runner)
  .gitlab-ci.yml
Due: none

env updated
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationSecurity.java
Due: build-backend

env updated
  metablog-frontend/.env
Due: build-frontend

changed env
  metablog-frontend/.env
Due: build-frontend

updated cicd
  .gitlab-ci.yml
  metablog-frontend/src/pages/AdminPage/BlogManagement.jsx
  metablog-frontend/src/pages/AdminProfile/AdminProfile.jsx
  metablog-frontend/src/pages/RegisterAdmin/RegisterAdmin.jsx
Due: build-frontend

updated cicd
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml updated
  .gitlab-ci.yml
Due: none

updated runner
  .gitlab-ci.yml
Due: none

cicd updated
  .gitlab-ci.yml
Due: none

created own runner on vm
  .gitlab-ci.yml
Due: none

changed runner
  .gitlab-ci.yml
Due: none

updated cicd with private runner in vm
  .gitlab-ci.yml
Due: none

UI bug fix
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
Due: build-frontend

updated .gitlab-ci.yml file with new rule
  .gitlab-ci.yml
Due: none

updated condition in .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

updated condition in the .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Added some validations and error messages in UI and removed unused files.
  metablog-frontend/src/components/RegisterInputFields/InputFields.jsx
  metablog-frontend/src/components/RegisterInputFields/InputFields.module.css
  metablog-frontend/src/components/RegisterInputFields/InputFields1.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
Due: build-frontend

trigger backend build.
  metaBlog-backend/src/main/java/com/group3/metaBlog/MetaBlogApplication.java
Due: build-backend

Metablog Application code
  .gitignore
  metaBlog-backend/src/main/resources/security.properties
Due: build-backend

Path conditions:
  build-backend: any of: metaBlog-backend/**/*
  build-frontend: any of: metablog-frontend/**/*
