Repository AdityaEngiSci/Metablog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

Path conditions:
  build-backend: any of: metaBlog-backend/**/*
  build-frontend: any of: metablog-frontend/**/*

updated app.jsx file
  metablog-frontend/src/App.jsx
Due: build-frontend

Fully Implemented the user and comment modules for the backend.
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Repository/IBlogRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Controller/CommentController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/DataTransferObject/CreateCommentDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Model/Comment.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Repository/ICommentRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/CommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/ICommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Controller/UserController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UpdateUserDetailsDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/IUserService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
  metablog-frontend/src/components/Footer.jsx
Due: build-backend, build-frontend

Add the test cases for Comment Service class.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Comment/Service/CommentServiceTest.java
Due: build-backend

Refactored the user module and tests with email extraction from token.
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Controller/UserController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/IUserService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

add setUp method for each test case to remove redundant code.
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

Dropped the user social links table and added it as attributes in user model
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UpdateUserDetailsDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
Due: build-backend

Add the test cases for User Service class.
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

add the code in try catch blocks in user and comment services.
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/CommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
Due: build-backend

comment section added in the blog page
  metablog-frontend/src/pages/BlogPage/BlogPage.css
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
Due: build-frontend

added integration in user profile
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

updated the user details dto.
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UpdateUserDetailsDto.java
Due: build-backend

Fix authorization token handling.
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Controller/UserController.java
Due: build-backend

Added the modified test cases for the User service.
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

Add new dto for the user module.
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/SavedBlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UserBlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UserDetailsResponseDto.java
Due: build-backend

added route protection
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/AdminRoute.js
  metablog-frontend/src/components/ProtectedRoute.js
Due: build-frontend

globalized tiny mce keys
  metablog-frontend/src/pages/CreateBlog/CreateBlog.jsx
Due: build-frontend

env file updated
  metablog-frontend/.env
Due: build-frontend

Modified the user controller and service to meet the new dto.
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Controller/UserController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/IUserService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
Due: build-backend

gitlab runner updated.
  .gitlab-ci.yml
Due: none

Modified the logic for the save blog api
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

Refactored the user service test.
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

Add new test cases for authentication for better coverage
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Updated the test cases for comment service.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Comment/Service/CommentServiceTest.java
Due: build-backend

FIxed merge conflicts from blog-frontend branch
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/BlogCard/BlogCard.jsx
  metablog-frontend/src/components/Footer/Footer.jsx
  metablog-frontend/src/components/FrameComponent/FrameComponent.jsx
  metablog-frontend/src/components/Header/Header.jsx
  metablog-frontend/src/components/PasswordFields/PasswordFields.jsx
  metablog-frontend/src/components/RegisterInputFields/InputFields.jsx
  metablog-frontend/src/components/RouteProtection/AdminRoute.js
  metablog-frontend/src/components/RouteProtection/ProtectedRoute.js
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
  metablog-frontend/src/pages/BlogsListing/BlogsListing.jsx
  metablog-frontend/src/pages/CreateBlog/CreateBlog.jsx
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep1.jsx
  metablog-frontend/src/pages/Login/Login.jsx
  metablog-frontend/src/pages/ResetPassword/ResetPasswordStep.jsx
  metablog-frontend/src/pages/ResetPasswordStep1.jsx
  metablog-frontend/src/pages/Search/SearchResult.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

code refactoring done
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Controller/AdminBlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/DTO/AdminRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/AdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/RegisterResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/IAuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Controller/BlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/DTO/BlogResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Model/Blog.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Repository/IBlogRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/ICommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationConfig.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationSecurity.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Email/Service/EmailService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Exception/MetaBlogException.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Controller/ImageController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/Filter/JwtFilter.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/ServiceLayer/JwtService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/MetaBlogApplication.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Controller/OTPController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Model/OTPModel.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Repository/IOTPRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/IOTPService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Repository/IUserRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/IUserService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Utils/MetaBlogResponse.java
Due: build-backend

Refactored the test cases for Admin service to remove code smells.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
Due: build-backend

Refactored the test cases for Authentication service to remove implementation smells.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Refactor the test cases for comment service and Email to remove code smells.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Comment/Service/CommentServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Email/Service/EmailServiceTest.java
Due: build-backend

Code refactoring (Interface updated)
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Controller/AdminBlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Repository/IAdminBlogRepository.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/AdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/IAdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/IAuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Controller/BlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/BlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/IBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Controller/ImageController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/IImageService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/Filter/JwtFilter.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/ServiceLayer/IJwtService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/ServiceLayer/JwtService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Controller/OTPController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/IOTPService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
Due: build-backend

name updated
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
Due: build-backend

UnSave blog functionality bug fixed and added ui validation.
  .gitlab-ci.yml
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Blog/Service/BlogServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
  metablog-frontend/src/components/BlogCard/BlogCard.jsx
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
Due: build-backend, build-frontend

Frontend changed and updated admin pages with new interation
  metablog-frontend/src/App.jsx
  metablog-frontend/src/pages/AdminPage/BlogManagement.jsx
  metablog-frontend/src/pages/AdminProfile/AdminProfile.css
  metablog-frontend/src/pages/AdminProfile/AdminProfile.jsx
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/Blogs/BlogList.jsx
  metablog-frontend/src/pages/Blogs/UserBlogs.jsx
Due: build-frontend

Updated backend tests
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Comment/Service/CommentServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

backend updated with refactoring and new changes
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/DTO/AdminRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/AdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Controller/CommentController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/DataTransferObject/CommentResponseDTO.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/CommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Comment/Service/ICommentService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationConfig.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/CorsConfig.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Image/Service/ImageService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Controller/UserController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/DataTransferObject/UserUpdateRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/IUserService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Service/UserService.java
Due: build-backend

updated comment test case
  metaBlog-backend/src/test/java/com/group3/metaBlog/Comment/Service/CommentServiceTest.java
Due: build-backend

test cases updated for admin register
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
Due: build-backend

new admin register backend created
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Controller/AdminBlogController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/DTO/RegisterAdminDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/AdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Admin/Service/IAdminBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Repository/IUserRepository.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Email/Service/EmailServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/OTP/Service/OTPServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/User/Service/UserServiceTest.java
Due: build-backend

admin register frontend with integration created
  metablog-frontend/src/App.jsx
  metablog-frontend/src/pages/BlogPage/BlogPage.jsx
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep1.jsx
  metablog-frontend/src/pages/RegisterAdmin/RegisterAdmin.css
  metablog-frontend/src/pages/RegisterAdmin/RegisterAdmin.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
  metablog-frontend/src/pages/UserProfile/UserProfile.jsx
Due: build-frontend

base url updated for frontend
  metablog-frontend/.env
Due: build-frontend
