Repository AdityaEngiSci/Metablog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend

build-backend:
  stage: build
  image: maven:latest
  before_script:
  - cd metaBlog-backend
  tags:
  - dalfcs_docker_autoscale
  script:
  - echo "Starting backend build......"
  - mvn clean install
  - echo "Compile complete."
  - echo "Backend build completed"
  artifacts:
    paths:
    - metaBlog-backend/target

build-frontend:
  stage: build
  image: node:latest
  tags:
  - dalfcs_docker_autoscale
  before_script:
  - cd metablog-frontend
  - npm install
  - npm i react-icons
  script:
  - echo "Frontend building started......"
  - npm run build
  artifacts:
    paths:
    - metablog-frontend/build

updated pom.xml dependencies
  metaBlog-backend/pom.xml
Due: build-backend

singup page added
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/public/background.svg
  metablog-frontend/public/iconoutlineeyeoff.svg
  metablog-frontend/public/index.html
  metablog-frontend/public/logo.svg
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/InputFields.jsx
  metablog-frontend/src/components/InputFields.module.css
  metablog-frontend/src/global.css
  metablog-frontend/src/index.jsx
  metablog-frontend/src/pages/SignUp.jsx
  metablog-frontend/src/pages/SignUp.module.css
  metablog-frontend/src/reportWebVitals.jsx
Due: build-frontend

opt model and repository added for forget password and emil verification for the account
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Model/OTPModel.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Repository/IOTPRepository.java
Due: build-backend

opt verification controller with otp generating service and verification service added
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Controller/OTPController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/DataTransferObject/VerifyOTPRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/IOTPService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
Due: build-backend

email sending account configured and thymleaf template created for otp
  metaBlog-backend/src/main/resources/application.properties
  metaBlog-backend/src/main/resources/templates/verifyaccount.html
Due: build-backend

email service created and method to send thymleaf implemented
  metaBlog-backend/src/main/java/com/group3/metaBlog/Email/Service/EmailService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Email/Service/IEmailService.java
Due: build-backend

User model changed and updated user repository interface
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationConfig.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Repository/IUserRepository.java
Due: build-backend

Forgot password api created and find user api created and custome exception added
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/IAuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Exception/MetaBlogException.java
Due: build-backend

endpoints added in controller and logger added
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
Due: build-backend

user Repository changed
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Blog/Service/IBlogService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/ApplicationSecurity.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Email/Service/EmailService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Model/User.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/User/Repository/IUserRepository.java
Due: build-backend

added otp email feature in forgot password
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

Implement the password reset functionality.
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/ResetPasswordRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-backend, build-frontend

Modified the Reset password functionality method and requestDto.
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/ResetPasswordRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

AuthenticationServiceTest Setup and Basic Structure.
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Add Register User Tests in AuthenticationServiceTest
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Add Find User Tests in AuthenticationServiceTest
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Added Tests for Forgot Password in AuthenticationServiceTest
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Added Tests for Reset Password in AuthenticationServiceTest
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
Due: build-backend

Added Tests for Email Service
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Email/Service/EmailServiceTest.java
Due: build-backend

Added Tests for OTP Service
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/OTP/Service/OTPServiceTest.java
Due: build-backend

added logger statements
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
Due: build-backend

Signup pages added and basic modules created
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/public/background.svg
  metablog-frontend/public/index.html
  metablog-frontend/public/vite.svg
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/EmailSend.jsx
  metablog-frontend/src/components/EmailSend.module.css
  metablog-frontend/src/components/FrameComponent.jsx
  metablog-frontend/src/components/FrameComponent.module.css
  metablog-frontend/src/components/InputFields.jsx
  metablog-frontend/src/components/InputFields.module.css
  metablog-frontend/src/components/InputFields1.jsx
  metablog-frontend/src/components/Options.jsx
  metablog-frontend/src/components/Options.module.css
  metablog-frontend/src/components/PasswordFields.jsx
  metablog-frontend/src/components/PasswordFields.module.css
  metablog-frontend/src/global.css
  metablog-frontend/src/index.jsx
  metablog-frontend/src/pages/SignUp.jsx
  metablog-frontend/src/pages/SignUp.module.css
  metablog-frontend/src/reportWebVitals.jsx
Due: build-frontend

Login page created
  metablog-frontend/src/pages/Login.jsx
  metablog-frontend/src/pages/Login.module.css
Due: build-frontend

Forget password page created
  metablog-frontend/src/pages/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/ForgotPasswordStep.module.css
Due: build-frontend

OTP verification for forget password created and reset password page added
  metablog-frontend/src/pages/ForgotPasswordStep1.jsx
  metablog-frontend/src/pages/ResetPasswordStep.jsx
  metablog-frontend/src/pages/ResetPasswordStep.module.css
Due: build-frontend

Reset password page created
  metablog-frontend/src/pages/ResetPasswordStep1.jsx
  metablog-frontend/src/pages/ResetPasswordStep1.module.css
Due: build-frontend

Revert "Merge branch 'authentication-backend' into 'develop'"
  .gitignore
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/ResetPasswordRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Email/Service/EmailServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/OTP/Service/OTPServiceTest.java
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-backend, build-frontend

resolved conflict
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-frontend

controller issue resolved
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/Filter/JwtFilter.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Jwt/ServiceLayer/JwtService.java
Due: build-backend

Revert "Revert "Merge branch 'authentication-backend' into 'develop'""
  .gitignore
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/ResetPasswordRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/OTP/Service/OTPService.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Authentication/Service/AuthenticationServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/Email/Service/EmailServiceTest.java
  metaBlog-backend/src/test/java/com/group3/metaBlog/OTP/Service/OTPServiceTest.java
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-backend, build-frontend

resolved conflict in develop
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
Due: build-frontend

Login functionality added
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

Revert "Login functionality added"
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

login code updated
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginRequestDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/DataTransferObject/LoginResponseDto.java
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Service/AuthenticationService.java
Due: build-backend

fix: removed unnecessary files.
  metablog-frontend/src/App.js
  metablog-frontend/src/index.js
  metablog-frontend/src/logo.svg
  metablog-frontend/src/pages/ForgotPasswordStep.module.css
  metablog-frontend/src/pages/SignUp.jsx
  metablog-frontend/src/reportWebVitals.js
Due: build-frontend

Restructured the frontend folder structure and integrated the register user step for authentication.
  metaBlog-backend/src/main/java/com/group3/metaBlog/Config/CorsConfig.java
  metablog-frontend/src/App.jsx
  metablog-frontend/src/components/EmailSend/EmailSend.jsx
  metablog-frontend/src/components/EmailSend/EmailSend.module.css
  metablog-frontend/src/components/FrameComponent/FrameComponent.jsx
  metablog-frontend/src/components/FrameComponent/FrameComponent.module.css
  metablog-frontend/src/components/Options/Options.jsx
  metablog-frontend/src/components/Options/Options.module.css
  metablog-frontend/src/components/PasswordFields/PasswordFields.jsx
  metablog-frontend/src/components/PasswordFields/PasswordFields.module.css
  metablog-frontend/src/components/RegisterInputFields/InputFields.jsx
  metablog-frontend/src/components/RegisterInputFields/InputFields.module.css
  metablog-frontend/src/components/RegisterInputFields/InputFields1.jsx
  metablog-frontend/src/pages/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/ForgotPasswordStep1.jsx
  metablog-frontend/src/pages/Login.jsx
  metablog-frontend/src/pages/ResetPasswordStep.jsx
  metablog-frontend/src/pages/ResetPasswordStep1.jsx
  metablog-frontend/src/pages/SignUp.jsx
Due: build-backend, build-frontend

Integrated the SignUp, Login, Reset Password and Forget Password functionalities of authentication (added Swal for better alert messages for the user).
  metablog-frontend/package-lock.json
  metablog-frontend/package.json
  metablog-frontend/src/App.jsx
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep.module.css
  metablog-frontend/src/pages/ForgotPassword/ForgotPasswordStep1.jsx
  metablog-frontend/src/pages/ForgotPasswordStep.jsx
  metablog-frontend/src/pages/ForgotPasswordStep.module.css
  metablog-frontend/src/pages/Login/Login.jsx
  metablog-frontend/src/pages/Login/Login.module.css
  metablog-frontend/src/pages/ResetPassword/ResetPasswordStep.jsx
  metablog-frontend/src/pages/ResetPassword/ResetPasswordStep.module.css
  metablog-frontend/src/pages/ResetPasswordStep.jsx
  metablog-frontend/src/pages/SignUp/SignUp.jsx
  metablog-frontend/src/pages/SignUp/SignUp.module.css
Due: build-frontend

exception changed for authentication
  metaBlog-backend/src/main/java/com/group3/metaBlog/Authentication/Controller/AuthenticationController.java
Due: build-backend

Better integrated the login functionality to redirect to user home page.
  metablog-frontend/src/pages/Login/Login.jsx
Due: build-frontend

Added testcases for admin side but commented to remove error
  metaBlog-backend/src/test/java/com/group3/metaBlog/Admin/Service/AdminServiceTest.java
Due: build-backend

Path conditions:
  build-backend: any of: metaBlog-backend/**/*
  build-frontend: any of: metablog-frontend/**/*
